{% extends 'base.html' %}

{% block content %}
<style>
    .flex-wrapper {
      display: flex;
      min-height: 90vh;
      flex-direction: column;
      justify-content: space-between;
    }

      body {
        background-color: #36454f;
        color: white
	}

    .img-fluid {
        max-width: 100%
        max-height: auto
    }

</style>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% if status %}
        <div class="flex-wrapper">
            <div class="container" style="text-align: center;">
                <br>
                <br>
                <br>
                <br>
                <br>
                <i class="fas fa-check-circle" style="font-size: 80px; color: green;"></i>

                <h2> Your order has been placed! Thank you for shopping with us</h2>

            </div>
        </div>
    {% else %}
        <h2>Unfortunately, Your order has been unsuccessful </h2>
    {% endif %}
    {% endblock %}

        <div class='text-center mt-5'>
            <a href="{% url 'products'%}" class="btn btn-dark" role="button">Continue Buying!</a>
        </div>